@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body{
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Red Hat Display', sans-serif;
    background: var(--Pale-blue) ;
    background-image: url("../images/pattern-background-desktop.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
} 

li{
    list-style: none;
}

p{
    opacity: .5;
    font-weight: 500;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.container{
    max-width: 350px;
    display: flex;
    flex-direction: column;

}
.img-section img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 100%;
}

.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #FFF;
}
h1{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
}
h2{
    font-size: 18px;
    font-weight: 700;
}
.highlighted-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
    background-color: var(--Very-pale-blue);
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.highlighted-text{
    margin-left: 20px;
}
.highlighted-text ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.change{
    margin-left: 50px;
}
.change a{
    color: var(--Bright-blue);
}
.btn{
    width: 300px;
    padding: 15px;
    color: #FFF;
    background-color: var(--Bright-blue);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cancel-btn{
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 400px) {
  body{
    background-image: url("../images/pattern-background-mobile.svg");
  }
}
